mixin RequestForm
  +Section.bg-primary
    .row.align-items-center.text-white
      .col-lg-4
        .border.border-2.border-warning.p-4.py-lg-5.text-center.rounded-3(data-zanim-timeline!={} data-zanim-trigger="scroll")
          .overflow-hidden
            h4.text-white(data-zanim-xs!={delay: 0.0}) Request a call back
          .overflow-hidden
            p.px-lg-1.text-100.mb-0(data-zanim-xs!={delay: 0.1}) Would you like to speak to one of our financial advisers over the phone? Just submit your details and we’ll be in touch shortly. You can also email us if you would prefer.

      .col-lg-8.ps-lg-5.mt-6.mt-lg-0
        h5.text-white I would like to discuss:

        form.mt-4(method="post")
          .row
            .col-6
              input.form-control(type="hidden" name="to" value="username@domain.extension")
              input(type="text" placeholder="Your Name" aria-label="Your Name").form-control
            .col-6
              input(type="text" placeholder="Phone Number" aria-label="Phone Number").form-control
            .col-6.mt-4
              input(type="text" placeholder="Subject" aria-label="Subject").form-control
            .col-6.mt-4
              button.btn.btn-warning.w-100(type="submit") Submit
