mixin ComponentLink(config={})
  p&attributes(attributes) For more details see 
    a(href=`${config.link}` target="_blank").font-sans-serif  #{config.name} documentation
      span.d-inline-block.me-1 &xrarr;