mixin Clients
  - 
    var clients = [
      {
        name: "partnerco",
        img: "logo2.png"
      },
      {
        name: "tvc",
        img: "logo1.png"
      },
      {
        name: "arcade",
        img: "logo6.png"
      },
      {
        name: "bearbrand",
        img: "logo3.png"
      },
      {
        name: "fast brothers",
        img: "logo5.png"
      },
      {
        name: "harculis beards",
        img: "logo4.png"
      }
    ]
  .bg-200.py-6 
    .container
      .row.align-items-center(data-zanim-timeline!={} data-zanim-trigger="scroll")
        each client in clients 
          +Client(client)

mixin Client(config)
  .col-4.col-md-2.my-3.overflow-hidden
    img.img-fluid(src=`${CWD}assets/img/partner/${config.img}` alt=`${config.name}` data-zanim-xs!={})
