mixin Cta
  +Section.bg-primary.py-6.text-center.text-md-start
    .row.align-items-center
      .col-md
        h4.text-white.mb-0 If you have any query related investment... 
          br.d-md-none 
          | we are available 24/7
      .col-md-auto.mt-md-0.mt-4
        a(href=`${CWD}contact.html`).btn.btn-light.rounded-pill Contact Us